<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[BlogService]BlogService.Migrations.*, [BlogService]BlogService.Data.Seeders.*, [BlogService]Program</Exclude>
          <ExcludeByFile>**/Migrations/**/*.cs, **\Migrations\**\*.cs, **/Data/Seeders/**/*.cs, **\Data\Seeders\**\*.cs, **/Program.cs, **\Program.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>