.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px 0;
  
  &__nav {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    
    &:hover {
      color: #6840C6;
    }
    
    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
      
      &:hover {
        color: inherit;
      }
    }
  }
  
  &__arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #E4E7EC;
    width: 40px;
    height: 40px;
    padding: 0;
    
    &:hover:not(:disabled) {
      border-color: #6840C6;
      color: #6840C6;
    }
    
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  
  &__icon {
    width: 20px;
    height: 20px;
    color: #667084;
  }
  
  &__text {
    color: #667084;
    font-size: 14px;
    font-weight: bold;
    
    @media (max-width: 480px) {
      display: none;
    }
  }
  
  &__pages {
    display: flex;
    align-items: center;
    gap: 12px;
    
    @media (max-width: 768px) {
      gap: 8px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  &__page {
    color: #667084;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.2s ease;
    border: 1px solid #E4E7EC;
    
    &:hover {
      color: #6840C6;
      background-color: #F9F5FF;
      border-color: #6840C6;
    }
    
    &--active {
      background-color: #F9F5FF;
      color: #7E56D8;
      border-color: #6840C6;
      
      &:hover {
        background-color: #F9F5FF;
        color: #7E56D8;
      }
    }
  }
  
  &__ellipsis {
    color: #667084;
    font-size: 14px;
    font-weight: bold;
    padding: 0 8px;
  }
}
