.minimal-template {
  margin-bottom: 24px;
  text-align: center;
  padding: 32px;
  position: relative;

  &__avatar {
    margin-bottom: 16px;
  }

  &__name {
    margin: 16px 0 8px;
  }

  &__email {
    font-size: 16px;
  }

  &__bio {
    margin-top: 16px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .minimal-template {
    padding: 24px;
  }
} 